{% extends './index.html' %}

{% block title %}<title>Catálogo de productos</title>{% endblock %}

{% block content%}

    {% load humanize %}
    <h2>Productos</h2>

    <div class="productos">

        {% for p in productos %}

        <div class="container-fluid">

            <div class= "col-md-6 col-sm-3 inline-block">
            
                {% if p.imagen %}
                    <img src="{{ p.imagen.url }}" alt="imagen producto" style= "width:30%;height:30%;">
                {% endif %}
                <div class="detalle">
                    <h5>{{ p.marca | capfirst }}</h5>
                    <h2>{{ p.nombre | title }}</h2>
                    <h3>${{ p.precio | intcomma }}</h3>
                </div>  
            </div>  
        </div>
        {% endfor %}  
    </div>  

{% endblock %}